.button {
    padding: var(--spacing-sm);
    border-radius: var(--spacing-sm);
    font-size: var(--body-md);
    height: 32px;
}

.primary {
    background-color: var(--color-primary--);
    color: #fff;
    border: var(--color-primary--);
}

.neutral {
    background-color: var(--color-neutral--);
    color: var(--color-primary-text--);
    border: var(--color-primary--);
}

.subtle {
    background-color: var(--color-subtle--) 0%;
    color: var(--color-primary--);
    border: none;
}